form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 30rem;
  padding: 1.25rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #e2e8f0;
  border-radius: 8px;
  margin-bottom: 2rem;
}

form p{
  color: #64748b;
  width: 17rem;
  height: 3rem;
}

form label{
  color: #0F172A;
}

form input{
  padding: 0.3rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #99A4BF;
  width: 17rem;
  color: black;
}

form input::placeholder{
  padding: 5px;
  color: #99A4BF;
}

form button{
  background-color: #014825;
  margin-top: 1.5rem;
}

form button:hover{
  background-color: #196D42;
  color: white;
}

.form-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}