body{
  background-color: #196D42;
  align-items: center;
  justify-content: center;
}

.content h1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 50rem;
  padding: 1.25rem 1.25rem 4rem 1.25rem ;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #e2e8f0;
  border-radius: 8px;
}

.card h2{
  color: #014825;
  font-size: 3rem;
  margin-bottom: 1rem
}

.tabs-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  background-color: #014825;
  border-radius: 2rem;
}

.tab-button {
  border: 2px solid #014825;
  background-color: #014825;
  color: white;
  padding: 0.5rem 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab-button.active-tab {
  background-color: white;
  color: #014825;
}

.tabs button{
  background-color: #014825;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  height: 5rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}