.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  height: 5rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}